
<div class="About">
    <div class="content">
        <img src="~/secondpage/vendor/Image/About us page-bro.svg" alt="About" class="book">
    </div>
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Abo</span>ut</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>The motivation behind designing this site came first: Most of us know or see people with special needs or have dealt with them in our lives, and this creates an aspect of sympathy and solidarity with these people, and this made some of us have the desire to help these people and alleviate the suffering they face in their daily lives. </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Second: Religious and moral principles, and this is what urged us to undertake such a project. We believe that helping people with special needs is a religious and moral duty </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Third: Belief in the capabilities of these people. When these people are empowered, and appropriate opportunities are provided for them, the entire society will benefit from their contributions and diverse talents, and they are able to do so, provided they are given the opportunity</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>In the end, this is our duty towards them to live up to their dignity and enjoy their rights regardless of individual differences. </p>

    </div>

</div>
<div class="Doctor">
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Doc</span>tor</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>Watching posts and interacting with them: Posts added by the doctor or trainer appear on this page. These posts are usually </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Add a post or comment: This option is only available to the doctor and trainer, where he can add some useful posts that people with special needs need. </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Adding stats to patients within the site and interacting with them. </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Add the appropriate treatment for the patient </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Join the group created by the administrator for some patients</p>
    </div>
    <div class="content">
        <img src="~/secondpage/vendor/Image/Doctors-rafiki.svg" alt="About" class="book">
    </div>


</div>