<div class="Chat">
    <div class="content">
        <img src="~/secondpage/vendor/Image/Messaging-amico.svg" alt="About" class="book">
    </div>
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Chatt</span>ing</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> The Chatting interface is the interface that is used by both the doctor and people with special needs</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>and in most cases the patient’s family is the one who uses this page, and the goal of this page is to communicate between the members of the group with each other and the doctor </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> This page is divided into two parts, the group in which the doctor is with a group People with special needs or a personal conversation between the doctor and the patient whether it is an emergency or for inquiries </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> which the doctor responds to the patient’s message, and continues sending messages by both parties until the end of the conversation. </p>

    </div>

</div>